.side_ber
  .side_header
    .side_header__name
      shouya
    .side_header__btn
      =link_to "#", class: "contents__btn" do
        = icon('fas', 'edit', class: "white_icon")
      =link_to "#", class: "contents__btn" do
        = icon('fas', 'cog', class: "white_icon")
  .side_contents
    .side_contents__group_name
      test
    .side_contents__massage
      まだメッセージはありません
