.header
  .header__name
    shouya
  .header__btn
    =link_to "#", class: "contents__btn" do
      = icon('fas', 'cog', class: "white_icon")
    =link_to "#", class: "contents__btn" do
      = icon('fas', 'edit', class: "white_icon")
.contents
  .contents__group_name
    test
  .contents__massage
    まだメッセージはありません
